<IfModule mod_rewrite.c>

RewriteEngine on
RewriteBase /Lister/

#Para el preview
RewriteCond %{THE_REQUEST} /preview\.php\?q=([^\s&]+) [NC]
RewriteRule ^ fullpreview-%1-%2? [R=301,L]
RewriteRule ^fullpreview-(.*)/?$ preview.php?q=$1 [L,QSA]

</IfModule>
